.section_right_side {
    width: 300px;
    flex-grow: 1;
    padding: 8px;
}

.basket_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}

.basket_head {
    display: flex;
    align-items: center;
}

.delivery_or_not {
    display: flex;
    width: 200px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f9f9f9;
    position: relative;
}

.slider_option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #333;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.cart-item-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
}

#pickup {
    border-radius: 20px 0 0 20px;
}

#delivery {
    border-radius: 0 20px 20px 0;
}

#pickup_selected,
#delivery_selected {
    background-color: orange;
}

#shoppingcartContent {
    padding-top: 16px;
}

.menu_box_shoppingcart {
    margin-bottom: 8px;
    margin-bottom: 8px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    border: 1px black solid;
}

#toPay {
    font-weight: bold;
    color: red;
}

.order_button {
    width: 150px;
    background-color: orange;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
    transition: background-color 500ms ease 0s;
    &:hover {
        background-color: rgb(0, 255, 0);
    }
}
